@use 'variables' as v;

// INTRO BANNER
section.introduction {
    background: white;
    margin-top: 5em;
    margin-bottom: 5em;

    h2 {
        font-size: 4em;
    }

    hr {
        max-width: 40%;
        border-bottom: 5px solid;
        margin: auto;
    }

    p {
        margin: auto;
        max-width: 75%;

        @media (max-width: 768px) {
            max-width: 90%;
        }
    }
}