@use 'variables' as v;

main.contact-info {
    background: white;
    border-top: 2px inset;
    border-bottom: 2px inset;
    box-shadow: 0 0 8px;

    h2 {
        font-family: "Yesteryear", cursive;
        font-size: 5em;
    }

    .contact-card {
        padding: 30px;
        max-width: 80%;
        margin: auto;
        margin-top: 15px;
        box-shadow: 0 0 10px;
        background: rgb(226, 244, 250);
    }

    h3 {
        font-family: "Yesteryear", cursive;
        font-size: 2.4em;
        text-align: center;
        padding: 10px;
    }

    p {
        text-align: center;
        padding: 10px;
    }
}