@use 'variables'as v;

form {
    margin: auto;
    padding: 2em;
    padding-top: 10em;
    padding-bottom: 10em;

    h2 {
        font-size: 3em;
        color: red;
        text-shadow: 2px 2px blue;
    }

    .form-submit {
        padding: 5px;
        border: 1px solid black;
        transition: all 0.2s ease-in;

        &:hover {
            box-shadow: 3px 3px red;

            &:active {
                transform: translateY(3px);
                box-shadow: none;
            }
        }
    }
}