@use 'variables' as v;

header {
    background: url(/Mark_Liska_Builders/_assets/images/blue_print_background.jpg);
    // background: url(/_assets/images/blue_print_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        font-family: "Alfa Slab One", serif;
        color: red;
        text-shadow: 3px 3px blue;
        font-size: 5em;
        letter-spacing: 10px;
        

        @media (max-width: 768px) {
            font-size: 3em;
            letter-spacing: 3px;
        }

        span {
            font-family: "Yesteryear", cursive;
            letter-spacing: 0;
        }
    }

    .meta-info {
        padding: 15px;
        border: 1px black;
        border-radius: 10px;
        background: rgba(27, 26, 26, 0.556);

        h4 {
            color: white;
            font-weight: 800;
        }

        .main-contact{
            padding: 5px;
            border: 1px solid black;
            transition: all 0.2s ease-in;

            a {
                text-decoration: none;
                color: black;
            }

            &:hover {
                box-shadow: 3px 3px red;

                &:active {
                    transform: translateY(3px);
                    box-shadow: none;
                }
            }
        }
    }
}