@use 'variables' as v;

nav {
    background: white;

    img {
        border-radius: 2em;
        margin: auto;
    }

    .nav-link {
        font-size: 1.2em;
        transition: all 0.2s ease;
        text-transform: uppercase;

        &:hover {
            border-radius: 10px;
            box-shadow: 0 0 10px;

            &:active {
                background: black;
                color: white;
                box-shadow: none;
            }
        }
    }
}