@use 'variables' as v;

main.testimonials {
    background: url(/Mark_Liska_Builders/_assets/images/blue_print_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: fit-content;

    h3 {
        font-family: "Alfa Slab One", serif;
        font-size: 2.8em;
        color: red;
        text-shadow: 3px 3px royalblue;
    }

    hr {
        max-width: 30%;
        margin: auto;
    }

    p {
        background: white;
        opacity: .9;
        border-radius: 1em;
        box-shadow: 0 0 10px;
        text-align: center;
        max-width: 60%;
        margin: auto;
    } 
    
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'%3E%3Cpath d='M9.5 1.5a.5.5 0 0 0-.8.4v12.2a.5.5 0 0 0 .8.4l6-6a.5.5 0 0 0 0-.8l-6-6z'/%3E%3C/svg%3E");
    }

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 1.5a.5.5 0 0 1 .8.4v12.2a.5.5 0 0 1-.8.4l-6-6a.5.5 0 0 1 0-.8l6-6z'/%3E%3C/svg%3E");
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 2rem;
        height: 2rem;
        background-size: 100% 100%;
    }
}