@use 'nav';
@use 'header';
@use 'main';
@use 'carousel';
@use 'form';
@use 'footer';
@use 'variables'as v;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
}

.wrapper {
    width: 85%;
    margin: auto;
    background: antiquewhite;
    box-shadow: 0 0 20px black;
}